{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="Hamid Azimi">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo.png' %}"/>
        <title>Benevis | {% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}?{% now 'U' %}">
        {% block header %}{% endblock header %}

    </head>
    <body>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://www.google.com/recaptcha/api.js?hl=fa"></script>
        <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'js/infinite.min.js' %}"></script>
        
        <div class="wrapper">
            {% include "partials/navbar.html" %}
            {% include "partials/messages.html" %}
            <div class="body-wrapper" id="body-wrapper" style="margin-top : 100px !important">
                <div class="share-alert alert position-fixed alert-success" role="alert" style="direction: rtl; z-index:999999999 !; display:none">
                    <span class="share-alert-message">لینک با موفقیت کپی شد!</span>
                </div>
                {% block body %}{% endblock body %}
            </div>
        </div>
        <script>
            let rtlChar = /[\u0590-\u083F]|[\u08A0-\u08FF]|[\uFB1D-\uFDFF]|[\uFE70-\uFEFF]/mg;
            $(document).ready(function(){
                $('input, textarea').keyup(function(){
                    const isRTL = $(this).val().match(rtlChar);
                    
                    if(isRTL !== null) {
                        $(this).css("direction", "rtl");
                    }else {
                        $(this).css("direction", "ltr");
                    }
        
                    if($(this).val().length == 0){
                        $(this).css("direction", "rtl");
                    }
                });
            });
        </script>
    </body>
</html>